<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="../../Content/output.css" rel="stylesheet">

</head>
<body>
    <div id="navbar" class="flex space-x-5 text-xl border-b-[1px] items-center w-full">

        <div id="portfolio" class="flex w-[25%] justify-center">
            <p class="text-2xl italic">Portfolio</p>
        </div>

        <div id="menu" class="flex ml-8 w-[60%] my-[10px]">
            <a id="home" class="navbar-items" href="@Url.Action("Index","Student")">
                <img class="w-10" src="../Content/images/student.png" />
                <p>Home</p>
            </a>
            <a class="navbar-items" href="@Url.Action("Education","Student")">
                <img class="w-10" src="../Content/images/book.png" />
                <p>Education</p>
            </a>
            <a class="navbar-items" href="@Url.Action("Projects","Student")">
                <img class="w-10" src="../Content/images/project.png" />
                <p>Projects</p>
            </a>
            <a class="navbar-items" href="@Url.Action("Reference","Student")">
                <img class="w-10" src="../Content/images/reference.png" />
                <p>Reference</p>
            </a>
        </div>

        <div class="ml-auto">
            <p>Contact Me!</p>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
